@font-face {
  font-family: 'Soehne';
  src:
    local('Soehne Buch'),
    local('Soehne'),
    url('/src/assets/fonts/Soehne-Buch.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Soehne';
  src:
    local('Soehne Kraftig'),
    local('Soehne Bold'),
    url('/src/assets/fonts/Soehne-Kraftig.woff2') format('woff2');
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'Soehne Mono';
  src:
    local('Soehne Mono'),
    local('SoehneMono-Regular'),
    url('/src/assets/fonts/SoehneMono-Regular.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Tiempos Headline';
  src:
    local('Tiempos Headline'),
    local('TiemposHeadline-Regular'),
    url('/src/assets/fonts/TiemposHeadline-Regular.woff2') format('woff2');
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}
